html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
background-color: #460046;
width: 100vw;
height: 100vh;
position: relative;
font-family: 'Tajawal', sans-serif;
overflow-x: hidden;
color: #00d2ff;
}
.container{
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: auto;
    margin-right: auto;
}
.fu {
    background-color: #3a013a;
    position: relative;
    border-radius: 40px;
    padding: 50px;
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.fu h1 {
text-align: center;
font-size: 50px;
}
.fu div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fu div  {
    border-bottom: 2px solid #00d2ff;
    background-color: #2a012a;
    padding:22px;
    border-radius: 40px;
    margin: 10px;
}
.fu div h5 {
    font-size: 23px;
}
@media(max-width: 767px) {
    .container{
        padding: 30px;
    }
    .fu {
        padding: 30px;
    }
}